node_modules/
dist/
out/
build/

# dados locais / segredos
.env
.env.*
*.log
npm-debug.log*

# sistema
Thumbs.db
desktop.ini
.DS_Store

# backups do fix-transparency.ps1
assets/skins-src/*.original.png
